{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Đăng nhập - UTE Social Media</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'new_css/login_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body class="bg-gray-100">
    <header class="header">
        <a href="" class="header-logo">UTE Social Media</a>
        <a href="/signup" class="signup-button">Đăng ký</a>
    </header>

    <div class="login-container">
        <div class="login-box">
            <div class="logo-area">
                <h1 class="logo">UTE Social Media</h1>
                <p>Kết nối với bạn bè và thế giới xung quanh bạn.</p>
            </div>

            {% if messages %}
            <div class="error-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <form class="login-form" action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username" class="sr-only">Tên đăng nhập</label>
                    <input type="text" id="username" name="username" placeholder="Tên đăng nhập" required>
                </div>
                <div class="input-group">
                    <label for="password" class="sr-only">Mật khẩu</label>
                    <input type="password" id="password" name="password" placeholder="Mật khẩu" required>
                </div>
                <button type="submit" class="login-button">Đăng nhập</button>
                <div class="divider"></div>
                <a href="/signup" class="create-account-button">Tạo tài khoản mới</a>
            </form>
        </div>
    </div>

    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


</body>


</html>